<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Robo CT
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row *ngFor="let xobj of yArr; let i = index">
            <ion-col *ngFor="let jobj of xArr; let j = index">
                <div class="{{direction}}" *ngIf="xCurrent == j && yCurrent == i">
                    <img src="assets/icon/robot.png">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="place()">
        Place
    </ion-button>
    <ion-button (click)="move()">
        Move
    </ion-button>
    <ion-button (click)="changeDirection('left')">
        Left
    </ion-button>
    <ion-button (click)="changeDirection('right')">
        Right
    </ion-button>
    <ion-button (click)="report()">
        Report
    </ion-button>
</ion-content>